<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/aside.css">
    <link rel="stylesheet" href="/css/header.css">
    <title>Open Street Map</title>
    <script src="https://kit.fontawesome.com/de979365f6.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <h1>WormDelivery</h1>
        <input title="menu-input" type="checkbox" name="menu-input" id="menu-input">
        <label for="menu-input">
            <i id="menu-open" class="fa-solid fa-bars"></i>
        </label>
        <aside>
            <label for="menu-input">
                <i id="menu-close" class="fa-solid fa-xmark"></i>
            </label>
            <nav>
                <a href="/concept">Concept</a>
            </nav>
            <form id="menu-form">
                <label for="start">Start Node
                    <select name="start" id="start">
                        <option value="1">1</option>
                    </select>
                </label>
                <label for="end">End Node
                    <select name="end" id="end">
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </label>
                <label for="ip">Ip Address
                    <input required type="text" name="ip" value="10.10.10.29">
                </label>
                <label for="port">Port
                    <input required type="text" name="port" value="8888">
                </label>
                <button type="submit">Select</button>

                <p id="submit-message"></p>
            </form>
        </aside>
    </header>
    
    <main>
        <canvas id="canvas-map"></canvas>
    </main>
        <script type="module" src="/bundles/map.bundle.js"></script>
</body>
</html>