<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/aside.css">
    <link rel="stylesheet" href="/css/header.css">
    <title>Open Street Map</title>
    <script src="https://kit.fontawesome.com/de979365f6.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <h1>ShippingLoop</h1>
        <nav>
            <a href="/">Default</a>
            <a href="/openstreetmap">Map</a>
        </nav>
        <!-- <input title="menu-input" type="checkbox" name="menu-input" id="menu-input">
        <label for="menu-input">
            <i id="menu-open" class="fa-solid fa-bars"></i>
        </label>
        <aside>
            <label for="menu-input">
                <i id="menu-close" class="fa-solid fa-xmark"></i>
            </label>
            <form method="POST" action="/">
                <label for="start-location">Start-location
                    <input type="number" name="start-location">
                </label>
                <label for="end-location">End-location
                    <input type="number" name="end-location">
                </label>
                
            </form>
        </aside> -->
    </header>
    
    <main>
        <canvas id="canvas-map"></canvas>
    </main>
        <!-- <script type="module" src="/js/canvas/main.js"></script> -->
</body>
</html>