*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;
    overflow: hidden;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: -10;
}

main {
    display: flex;
    flex-direction: row;
    width: min-content;
    justify-content: stretch;
}

canvas {
    width: 100vw;
    height: auto;
    margin: auto;
}

@media only screen and (min-width: 768px) {
    canvas {
        width: auto;
        height: 100vh;
    }
}